In [7]:
import pandas as pd

In [8]:
def limpiar(n):
    return str(n).replace('.0', '')

def read_dataFile(path):
    df = pd.read_excel(path)

    temp = map(limpiar, list(df.iloc[1]))
    df.columns = list(temp)

    df['file'] = df.iloc[0][1]
    df = df.drop([0, 1]).reset_index(drop=True)
    return df

In [9]:
temp = pd.DataFrame({'Fecha' : []})

for year in range(2010, 2015):
    filePath = f'http://portalbissrs.xm.com.co/trpr/Histricos/Precios/Precio_Bolsa_Internacional_(%24kwh)_{year}.xlsx?'
    new_data = read_dataFile(filePath)
    temp = pd.concat([temp, new_data])

In [10]:
temp.shape

(1826, 27)

In [11]:
temp.head()

,Fecha,0,1,2,3,4,5,6,7,8,...,16,17,18,19,20,21,22,23,Version,file
0,2010-01-01,124.687267,124.687267,124.280267,124.687267,124.687267,115.844267,114.687267,114.687267,114.687267,...,114.687267,124.687267,128.687267,129.687267,128.687267,124.687267,124.687267,124.687267,TX5,Precio Bolsa Internacional ($/kWh) 2010
1,2010-01-02,113.687267,111.687267,111.687267,111.687267,111.687267,111.687267,111.687267,113.495267,113.687267,...,113.687267,113.687267,144.687267,149.687267,129.687267,129.687267,114.687267,114.687267,TX5,Precio Bolsa Internacional ($/kWh) 2010
2,2010-01-03,112.790267,112.790267,112.790267,112.687267,112.687267,112.687267,97.687267,112.687267,113.495267,...,113.495267,113.687267,129.687267,199.687267,199.687267,119.687267,114.687267,114.687267,TX5,Precio Bolsa Internacional ($/kWh) 2010
3,2010-01-04,112.587267,112.541267,112.541267,112.587267,112.587267,112.587267,112.587267,113.495267,113.587267,...,115.687267,113.687267,130.687267,305.687267,130.687267,129.687267,113.587267,112.587267,TX5,Precio Bolsa Internacional ($/kWh) 2010
4,2010-01-05,113.587267,113.587267,113.587267,113.587267,113.587267,114.687267,114.687267,114.687267,117.687267,...,117.687267,117.687267,129.687267,209.687267,117.687267,117.687267,117.687267,114.687267,TX5,Precio Bolsa Internacional ($/kWh) 2010